/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2016, 1:49:40 PM
    Author     : kristof.liesenborghs
*/

/*
    #533E29     -> BROWN;
    #3B5450     -> 'PETROL'; 
    #E30304     -> RED; 
    #FAFFAD     -> YELLOW/BEIGE; 
    #7F9799     -> GREY/BLUE; 
*/

@charset "utf-8";
@font-face {
    font-family: 'detourdork'; 
    src: url('../fonts/detourdork/ddorktrial-webfont.eot');
    src: url('../fonts/detourdork/ddorktrial-webfont.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/detourdork/ddorktrial-webfont.woff2') format('woff2'),
        url('../fonts/detourdork/ddorktrial-webfont.woff') format('woff'),
        url('../fonts/detourdork/ddorktrial-webfont.ttf') format('truetype'),
        url('../fonts/detourdork/ddorktrial-webfont.svg#detourdork') format('svg');     
}
@font-face {
    font-family: 'woodcutterbarcode'; 
    src: url('../fonts/woodcutter/Woodcutter barcode.ttf') format('truetype');
}



/* framework CDN *//* example bootstrap, foundation, ec */

/*********** grid *******************/
* {
    box-sizing:border-box;
}    
.rij:after {
    content: "";
    clear: both;
    display: block;
}   
[class*="kol-"] {
    float: left;
    padding: 10px;
    /*outline: red solid 1px;*/
}


/**** opbouw css only fluid width equal height columns 
<div id="zeecontainer">
            <div class="achtergrond"> = kleur
                <div class="kolom"></div> =lege div
                <div class="kolom"></div> =lege div
                <div class="kolom"></div> =lege div
            </div>
                <div class="kolom"><p>Deze opleidingen worden gegeven als "begeleide zelfstudie": je leert al doende en wordt toch ter plekke begeleidt door de instructeur. De dot module beschrijft wat er van je verlangt wordt en hoe je dat kunt bereiken</p></div>
                 <div class="kolom"><p>Je gebruikt vdab cursussen, leest Engelstalige IT boeken en websites om het onderwerp te studeren</p></div> 
                <div class="kolom"><p>De opleiding bestaat uit modules: voor elke module volg je een dot brochure die zegt wat, hoe en enlang je erover doet</p>
            </div>
            <div class="wis"></div>
</div>
                                            einde opbouw **/        
/********** einde zeecontainer ********/

/********** algemeen ************/

.redpetrol {
    color: #E30304; 
    text-shadow: 2px 2px #3B5450;
    font-family: detourdork; 
}

.redyellow {
    color: #E30304; 
    text-shadow: 2px 2px #FAFFAD;
    font-family: detourdork;
}

.warning {
    color: #E30304;
}

.vet {
    font-weight: bolder;
}

.geel {
    color: #FAFFAD;
}

.highlight {
    background-color: yellow; 
}

html {
    box-sizing: border-box; 
}

body {
    margin: 0; 
    font-family: sans-serif; 
    position: relative; 
}

.center {
    text-align: center;
}

.rechts {
    float: right;
}


.titel {
    margin: 2em;   
}

.button {
    display: block;
    padding: 0.5em;
    border-radius: 0.2em;
    background-color: #E30304; 
    border: 1px outset #3B5450; 
    color: #FAFFAD;
    width: 15em;
    text-align: center;
    text-decoration: none;
    font-weight: bold; 
    margin: 1em;
}


/************ mobile first **********/

/**** responsive switches ***/
.sm_on {display: none;}
.md_on {display: none;}
.lg_on {display: none;}
.xl_on {display: none;}
.xxl_on {display: none;}

.xs_on {display: block;}
/*****        end        ****/

[class*="kol-"] {
    width: 100%;
}



/***** redirect page *****/ 

#redirect {
    width: 100vmin; 
    margin: 2em auto;
    vertical-align: central; 
}

#redirect img {
    width: 40vmin;
    vertical-align: central; 
    float: left; 
}

#linkspijl {  
    display: inline-block;  
    border-right: 3vmin solid #7F9799; 
    border-top: 3vmin solid transparent; 
    border-bottom: 3vmin solid transparent;
    width: 0;
    height: 0;
    vertical-align: central; 
    float: left; 
    margin-top: 45vh; 
}

#redirect article {
    display: inline-block; 
    width: 50vmin;
    vertical-align: central;
    background-color: #7F9799; 
    padding: 1em; 
    float: left; 
    margin-top: 15vh; 
    min-height: 50vh; 
}
/****** einde redirect ******/
/****** start landig page *****/
a.LP {
    display: block;
    text-decoration: none;
    width: 100vw; 
    height: 74px;   
}

span.fixed {
    display: inline-block;  
    font-family: detourdork, sans-serif; 
    font-size: 20px; 
    margin-top: 25px; 
    margin-bottom: 1em;
}

header.midden, footer.midden {
    text-align: center;
}

footer.midden {
    font-size: 4vw;
}

header {
    display: block; 
    position: fixed; 
    top: 0; 
    width: 100vw; 
    height: 74px;    
    background-color: #7F9799; 
    font-family: ddork; 
    z-index: 50; 
}

#topPijl {
    position: fixed; 
    top: 74px;
    left: calc(50% - 20px);  
    right: calc(50% - 20px);  
    border-top: 20px solid #7F9799; 
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    width: 0;
    height: 0;
    z-index: 50; 

}

#logoLP {
    display: block; 
    position: fixed; 
    margin: 0; 
    top: 120px; 
    bottom: auto; 
    left: 10%;
    right: 10%; 
    font-family: woodcutterbarcode; 
    font-size: 45vw; 

}

.fa {
    display: initial; 
}

#logo {
    display: inline-block;   
    height: 74px;
    width: 25vw; 
    overflow: hidden; 
    position: relative; 
    text-align: center; 
    text-decoration: none;
}


#logo span {
    font-family: woodcutterbarcode; 
    font-size: 10em;
    bottom: 0; 
    position: absolute; 
}

#logo i {   
    margin: 13px auto;

}

#broodlift {

    height: 100vh;  
    text-align: center; 
    display: block; 
    /*    background-image: url("../img/automaat3.jpg"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: 75%; */

    background-image: url("../img/backgroundBreadv4.jpg");
    background-size: 100%;
}

#automaat {
    width: 95vmin; 
    margin-top: 20vmin;
}


#sloganLP {
    display: block; 
    position: fixed; 
    bottom: 120px; 
    left: 10%; 
    right: 10%; 
    font-family: detourdork; 
    font-size: 8vw; 

}

#slogan { 
    float: left; 
    font-family: detourdork; 
    font-size: 2em; 
    margin-top: calc(5em/2 - 1.55em); 
    margin-left: 0.5em; 
}


#bodemPijl {
    position: fixed; 
    bottom: 74px;
    left: calc(50% - 20px); 
    right: calc(50% - 20px);      
    border-bottom: 20px solid #7F9799; 
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    width: 0;
    height: 0;
}

footer {
    display: block; 
    position: fixed; 
    bottom: 0; 
    width: 100vw; 
    height: 74px; 
    background-color: #7F9799;
}

.centerfold {
    min-height: 100vh;
    width: 100vw;
    padding: 110px 0; 
    display: block; 
    position: relative;
}

.topCenterfold {
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 110px; 
    display: block; 
    position: relative;
}

.breadground {
    background-image: url("../img/backgroundBreadv4.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.wrapper {
    width: 90vw; 
    margin: 0 auto;
}

#orderButton {
    float: right;
    display: block; 
    height: 74px; 
    width: 75vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1em;
    border-left: 2px solid white; 
    text-decoration: none; 
    text-align: center;
    z-index: 50; 
}


#orderButton div {
    display: inline-block; 
    margin: 3.6px 3.6px;
}
#orderButton a {
    display: inline;  
}

#orderButtonLogedin {
    float: right;
    display: block; 
    height: 74px; 
    width: 75vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1em;
    border-left: 2px solid white; 
    text-decoration: none; 
    text-align: center;
    z-index: 50; 
    padding: 9px 9px;
}

#orderButtonLogedin div {
    display: inline-block; 
    margin: 3.6px 3.6px;
}

#orderButtonLogedout {
    float: right;
    display: block; 
    height: 74px; 
    width: 75vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1.5em;
    border-left: 2px solid white; 
    text-decoration: none; 
    text-align: center;
    z-index: 50; 
    padding: 9px 9px;
}

#orderButtonLogedout div {
    display: inline-block; 
    margin: 12px auto;
    width: 100%;
    height: 100%;
}

#orderButtonLogedout div a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin-top: 0.5em;
}

#logout {
    display: inline-block;
}

#logout input[type="submit"] {
    border-radius: 0.2em; 
    border: 1px outset #3B5450 ;
    background-color: #E30304;
    color: #FAFFAD;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}


#infoButton {
    float: right;
    display: block; 
    height: 74px; 
    width: 100vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1.3em;
    text-decoration: none; 
    text-align: center; 
}

#infoButton span {
    display: inline-block;  
    font-family: detourdork, sans-serif; 
    margin-top: 1em;  
}

input:focus {background-color: #FAFFAD ;}

#login { 
    text-align: right;
}

#login input {
    width: 100%;
    text-align: center;
}

#login input[type="submit"] {
    border-radius: 0.2em; 
    border: 1px outset #3B5450 ;
    background-color: #E30304;
    color: #FAFFAD;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nieuw {
    /*    border: 1px solid black;*/
    display: block;
    margin: 0 auto;
    color: #585858; 
    text-align: center;
}

#nieuw h1 {
    text-align: center; 
}

#nieuw input, #nieuw select {
    display: block;
    margin: 1em auto;
    width: 90vw;
    text-align: center;
    padding: 0.5em;
    color: #585858;
}

#nieuw input[type="submit"] {
    border-radius: 0.2em; 
    border: 1px outset #533E29;
    background-color: #7F9799;
    width: 90vw;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nieuw select option:first-child{opacity: 0.7; color: red;}

#vitrine { 
    width: 50vw; 
    margin: 8.9em 3em ; 
}

#loginmsg {
    color: #FAFFAD; 
    float: left;    
    font-family: sans-serif;
    font-size: 1em; 
}

.aboutkolom {
    color: #533E29;
    background-color:white ;
    margin: 1em auto; 
    padding: 1em; 
}

#Regmsg {
    color: #E30304; 
    float: left;
    width: 40vw; 
    text-align: center;   
    font-family: sans-serif;
    font-size: 1em; 
}

.mijnWinkelwagen, .mijnWinkelwagen tr, .mijnWinkelwagen td {
    border-collapse: separate; 
    border: 1px solid black; 
}


.mijnWinkelwagen td {padding: 0.5em 2em; background-color: white;}
.mijnWinkelwagen tr td:first-child {width: 30vw;}
.mijnWinkelwagen tfoot td {text-align: right;}

.mijnWinkelwagen {
    margin: 0 auto; 
    width: 80vw; 
    background-color: #7F9799;
}

.mijnWinkelwagen form input, .mijnWinkelwagen form select {
    display: block;
    width: 100%;
    margin: 0.5em 0; 
}

.mijnWinkelwagen form input:last-of-type {
    float: right; 
    width: 40%;
}

#bestelbonForm {
    margin: 0 auto; 
    width: 80vw;
}

#bestelbonForm tr, #bestelbonForm td {
    border-collapse: separate; 
    border: 1px solid black; 
}

#bestelbonForm td {padding: 0.5em 2em; background-color: white;}
#bestelbonForm tr td:first-child {width: 30vw;}
#bestelbonForm tfoot td {text-align: right;}

.mijnAccount, .mijnAccount tr, .mijnAccount td {
    border-collapse: separate; 
    border: 1px solid black; 
}

#bestelbonForm form input, #bestelbonForm form select {
    display: block;
    width: 100%;
    margin: 0.5em 0; 
}

#bestelbonForm form input:last-of-type {
    float: right; 
    width: 40%;
}

.mijnAccount td {padding: 0.5em 2em; background-color: white;}
.mijnAccount tr td:first-child {width: 30vw;}
.mijnAccount tfoot td {text-align: right; 
                      border-collapse: collapse; 
                      border: none;
                      background-color: #7F9799;
}

.mijnAccount {
    margin: 1em auto; 
    width: 80vw;
    background-color: #7F9799;
}

.mijnAccount form input, .mijnAccount form select {
    display: block;
    width: 100%;
    margin: 0.5em 0; 
}

.mijnAccount form input:last-of-type {
    float: right; 
    width: 40%;
    border-collapse: collapse;

}

.centerBox {
    width: 80vw;
    margin: 8em auto; 
    position: relative; 
    cursor: default; 
}
.boxRij {
    display: block; 
    min-height: 2em;
    width: 100%;
    border: 1px solid black; 
}
.product {
    display: inline-block; 
    width: 50%; 
}
.prijs, 
.hoeveelheid {
    display: inline-block; 
    width: 20%; 
}

.product, 
.prijs,
.hoeveelheid {
/*    border: 1px solid black;*/
    margin: 0; 
    padding: 0.5em 2em; 
}



/*********** phablet ***********//* sm (small)=@media screen and (min-width:361px) */
@media screen and (min-width:405px){

    /**** responsive switches ***/
    .xs_on {display: none;}
    .md_on {display: none;}
    .lg_on {display: none;}
    .xl_on {display: none;}
    .xxl_on {display: none;}

    .sm_on {display: block;}
    /*****        end        ****/

    .kol-sm-1 {width: 8.33%;}
    .kol-sm-2 {width: 16.66%;}
    .kol-sm-3 {width: 25%;}
    .kol-sm-4 {width: 33.33%;}
    .kol-sm-5 {width: 41.66%;}
    .kol-sm-6 {width: 50%;}
    .kol-sm-7 {width: 58.33%;}
    .kol-sm-8 {width: 66.66%;}
    .kol-sm-9 {width: 75%;}
    .kol-sm-10 {width: 83.33%;}
    .kol-sm-11 {width: 91.66%;}
    .kol-sm-12 {width: 100%;}

    #logoLP {
    display: block; 
    position: fixed; 
    margin: 0; 
    top: 120px; 
    bottom: auto; 
    left: 10%;
    right: 10%; 
    font-family: woodcutterbarcode; 
    font-size: 30vw; 

}

#sloganLP {
    display: block; 
    position: fixed; 
    bottom: 120px; 
    left: 10%; 
    right: 10%; 
    font-family: detourdork; 
    font-size: 6vw; 

}

span.fixed {
    display: inline-block;  
    font-family: detourdork, sans-serif; 
    font-size: 25px; 
    margin-top: 25px; 
    margin-bottom: 1em;
}
    
}

/*********** tablet ***********//* md (medium)=@media screen and (min-width:599px) */

@media screen and (min-width:599px){

    /**** responsive switches ***/
    .xs_on {display: none;}
    .sm_on {display: none;}
    .lg_on {display: none;}
    .xl_on {display: none;}
    .xxl_on {display: none;}

    .md_on {display: block;}
    /*****        end        ****/

    .kol-md-1 {width: 8.33%;}
    .kol-md-2 {width: 16.66%;}
    .kol-md-3 {width: 25%;}
    .kol-md-4 {width: 33.33%;}
    .kol-md-5 {width: 41.66%;}
    .kol-md-6 {width: 50%;}
    .kol-md-7 {width: 58.33%;}
    .kol-md-8 {width: 66.66%;}
    .kol-md-9 {width: 75%;}
    .kol-md-10 {width: 83.33%;}
    .kol-md-11 {width: 91.66%;}
    .kol-md-12 {width: 100%;}

    /***** redirect page *****/ 
    
    

    i.xs_on.sm_on.fa.fa-barcode.fa-3x.redyellow {
        display: none;
    }    
    
    span#logoLP.redpetrol.xs_on.sm_on {
        display: none;
    }
    
#redirect {
    width: 100vmin; 
    margin: 2em auto;
    vertical-align: central; 
}

#redirect img {
    width: 40vmin;
    vertical-align: central; 
    float: left; 
}

#linkspijl {  
    display: inline-block;  
    border-right: 3vmin solid #7F9799; 
    border-top: 3vmin solid transparent; 
    border-bottom: 3vmin solid transparent;
    width: 0;
    height: 0;
    vertical-align: central; 
    float: left; 
    margin-top: 45vh; 
}

#redirect article {
    display: inline-block; 
    width: 50vmin;
    vertical-align: central;
    background-color: #7F9799; 
    padding: 1em; 
    float: left; 
    margin-top: 15vh; 
    min-height: 50vh; 
}
/****** einde redirect ******/
/****** start landig page *****/
a.LP {
    display: block;
    text-decoration: none;
    width: 100vw; 
    height: 74px;   
}

span.fixed {
    display: inline-block;  
    font-family: detourdork, sans-serif; 
    font-size: 25px; 
    margin-top: 25px; 
    margin-bottom: 1em;
}

header.midden, footer.midden {
    text-align: center;
}

footer.midden {
    font-size: 4vw;
}

header {
    display: block; 
    position: fixed; 
    top: 0; 
    width: 100vw; 
    height: 74px;    
    background-color: #7F9799; 
    font-family: ddork; 
    z-index: 50; 
}

#topPijl {
    position: fixed; 
    top: 74px;
    left: calc(50% - 20px);  
    right: calc(50% - 20px);  
    border-top: 20px solid #7F9799; 
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    width: 0;
    height: 0;
    z-index: 50; 

}

#logoLP {
    display: block; 
    position: fixed; 
    margin: 0; 
    top: 120px; 
    bottom: auto; 
    left: 10%;
    right: 10%; 
    font-family: woodcutterbarcode; 
    font-size: 10vw; 

}

#logo {
    display: inline-block;   
    margin-top: 0.5em;
    margin-left: 0.5em; 
    height: 4em; 
    width: 40vw; 
    overflow: hidden; 
    position: relative; 
}

#logo span {
    font-family: woodcutterbarcode; 
    font-size: 10em;
    bottom: 0; 
    position: absolute; 
}

#broodlift {

    height: 100vh;  
    text-align: center; 
    display: block; 
    /*    background-image: url("../img/automaat3.jpg"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: 75%; */

/*    background-image: url("../img/backgroundBreadv4.jpg");
    background-size: 100%;*/
}

#automaat {
    margin: 94px auto;

    
}


#sloganLP {
    display: block; 
    position: fixed; 
    bottom: 100px; 
    left: 10%; 
    right: 10%; 
    font-family: detourdork; 
    font-size: 3em; 

}

#slogan { 
    float: left; 
    font-family: detourdork; 
    font-size: 2em; 
    margin-top: calc(5em/2 - 1.55em); 
    margin-left: 0.5em; 
}


#bodemPijl {
    position: fixed; 
    bottom: 74px;
    left: calc(50% - 20px); 
    right: calc(50% - 20px);      
    border-bottom: 20px solid #7F9799; 
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    width: 0;
    height: 0;
}

footer {
    display: block; 
    position: fixed; 
    bottom: 0; 
    width: 100vw; 
    height: 74px; 
    background-color: #7F9799;
}

#orderButton {
    float: right;
    display: block; 
    height: 74px; 
    width: 45vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1em;
    border-left: 2px solid white; 
    text-decoration: none; 
    text-align: center;
    z-index: 50; 
}

#orderButton div {
    display: inline-block; 

}
#orderButton a {
    display: inline;
}


#infoButton {
    float: right;
    display: block; 
    height: 74px; 
    width: 45vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1.2em;
    border-left: 2px solid white; 
    text-decoration: none; 
    text-align: center; 
}

#orderButtonLogedin {
    float: right;
    display: block; 
    height: 74px; 
    width: 45vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1em;
    border-left: 2px solid white; 
    text-decoration: none; 
    text-align: center;
    z-index: 50; 
    padding: 9px 9px;
}

#orderButtonLogedin div {
    display: inline-block; 
    margin: 3.6px 3.6px;
}

#orderButtonLogedout {
    float: right;
    display: block; 
    height: 74px; 
    width: 45vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1.5em;
    border-left: 2px solid white; 
    text-decoration: none; 
    text-align: center;
    z-index: 50; 
    padding: 9px 9px;
}

#orderButtonLogedout div {
    display: inline-block; 
    margin: 12px auto;
    width: 100%;
    height: 100%;
}

#orderButtonLogedout div a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin-top: 0.5em;
}

#infoButton span {
    display: inline-block; 
    margin-top: 25px; 
}

input:focus {background-color: #FAFFAD ;}



#login input[type="submit"] {
    border-radius: 0.2em; 
    border: 1px outset #3B5450 ;
    background-color: #E30304;
    color: #FAFFAD;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nieuw {
    /*    border: 1px solid black;*/
    display: block;
    margin: 0 auto;
    color: #585858; 
}

#nieuw h1 {
    margin-top: 0;
    text-align: center; 
}

#nieuw input, #nieuw select {
    display: block;
    margin: 1em auto;
    width: 90%;
    text-align: center;
    padding: 0.5em;
    color: #585858;
}

#nieuw input[type="submit"] {
    border-radius: 0.2em; 
    border: 1px outset #533E29;
    background-color: #7F9799;
    width: 91%;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nieuw select option:first-child{opacity: 0.7; color: red;}

#vitrine {
    display: block;
    margin: 0 auto;
    width: 75%;

}

#loginmsg {
    color: #FAFFAD; 
    float: left;    
    font-family: sans-serif;
    font-size: 1em; 
}

#Regmsg {
    color: #E30304; 
    float: left;
    width: 40vw; 
    text-align: center;   
    font-family: sans-serif;
    font-size: 1em; 
}

table.mijnAccount:first-of-type {
 
}

.mijnAccount, .mijnAccount tr, .mijnAccount td {
    border-collapse: separate; 
    border: 1px solid black; 
}


.mijnAccount td {padding: 0.5em 2em;}
.mijnAccount tr td:first-child {width: 30vw;}
.mijnAccount tfoot td {text-align: right;}

.mijnAccount {
    margin: 2em auto; 
    width: 80vw; 
}

.mijnAccount form input, .mijnAccount form select {
    display: block;
    width: 100%;
    margin: 0.5em 0; 
}

.mijnAccount form input:last-of-type {
    float: right; 
    width: 40%;
}

.centerBox {
    width: 80vw;
    margin: 8em auto; 
    position: relative; 
    cursor: default; 
}
.boxRij {
    display: block; 
    width: 100%;
    border: 1px solid black; 
}
.product {
    display: inline-block; 
    width: 50%; 
}
.prijs, 
.hoeveelheid {
    display: inline-block; 
    width: 20%; 
}

.product, 
.prijs,
.hoeveelheid {
/*    border: 1px solid black;*/
    margin: 0; 
    padding: 0.5em 2em; 
}

#zeecontainer {
    margin:0; 
    position:relative;    
}

.kolom {
    position:relative; 
    float:left; 
    width:31%;   /* 31% = 3 kolommen */
    margin:5em 1%;  
    padding:0.5em; 
}

.achtergrond {
    position:absolute;
    width:100%;
    height:100%;

}

.achtergrond .kolom {
    height: 100%;
    background-color:#7F9799 ; 
}

.wis {
    clear: both;
}
}



/*********** desktopke ***********//* lg (large)=@media screen and (min-width:933px) */
@media screen and (min-width:933px) {

    /**** responsive switches ***/
    .xs_on {display: none;}
    .sm_on {display: none;}
    .md_on {display: none;}
    .xl_on {display: none;}
    .xxl_on {display: none;}

    .lg_on {display: block;}
    /*****        end        ****/

    .kol-lg-1 {width: 8.33%;}
    .kol-lg-2 {width: 16.66%;}
    .kol-lg-3 {width: 25%;}
    .kol-lg-4 {width: 33.33%;}
    .kol-lg-5 {width: 41.66%;}
    .kol-lg-6 {width: 50%;}
    .kol-lg-7 {width: 58.33%;}
    .kol-lg-8 {width: 66.66%;}
    .kol-lg-9 {width: 75%;}
    .kol-lg-10 {width: 83.33%;}
    .kol-lg-11 {width: 91.66%;}
    .kol-lg-12 {width: 100%;}  
 i.xs_on.sm_on.fa.fa-barcode.fa-3x.redyellow {
        display: none;
    }    
    
    span#logoLP.redpetrol.xs_on.sm_on {
        display: none;
    }
    
#redirect {
    width: 100vmin; 
    margin: 2em auto;
    vertical-align: central; 
}

#redirect img {
    width: 40vmin;
    vertical-align: central; 
    float: left; 
}

#linkspijl {  
    display: inline-block;  
    border-right: 3vmin solid #7F9799; 
    border-top: 3vmin solid transparent; 
    border-bottom: 3vmin solid transparent;
    width: 0;
    height: 0;
    vertical-align: central; 
    float: left; 
    margin-top: 45vh; 
}

#redirect article {
    display: inline-block; 
    width: 50vmin;
    vertical-align: central;
    background-color: #7F9799; 
    padding: 1em; 
    float: left; 
    margin-top: 15vh; 
    min-height: 50vh; 
}
/****** einde redirect ******/
/****** start landig page *****/
a.LP {
    display: block;
    text-decoration: none;
    width: 100vw; 
    height: 74px;   
}

span.fixed {
    display: inline-block;  
    font-family: detourdork, sans-serif; 
    font-size: 25px; 
    margin-top: 25px; 
    margin-bottom: 1em;
}

header.midden, footer.midden {
    text-align: center;
}

footer.midden {
    font-size: 4vw;
}

header {
    display: block; 
    position: fixed; 
    top: 0; 
    width: 100vw; 
    height: 74px;    
    background-color: #7F9799; 
    font-family: ddork; 
    z-index: 50; 
}

#topPijl {
    position: fixed; 
    top: 74px;
    left: calc(50% - 20px);  
    right: calc(50% - 20px);  
    border-top: 20px solid #7F9799; 
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    width: 0;
    height: 0;
    z-index: 50; 

}

#logoLP {
    display: block; 
    position: fixed; 
    margin: 0; 
    top: 120px; 
    bottom: auto; 
    left: 10%;
    right: 10%; 
    font-family: woodcutterbarcode; 
    font-size: 10vw; 

}

#logo {
    display: inline-block;   
    margin-top: 0.5em;
    margin-left: 0.5em; 
    height: 4em; 
    width: 40vw; 
    overflow: hidden; 
    position: relative; 
}

#logo span {
    font-family: woodcutterbarcode; 
    font-size: 10em;
    bottom: 0; 
    position: absolute; 
}

#broodlift {

    height: 100vh;  
    text-align: center; 
    display: block; 
    /*    background-image: url("../img/automaat3.jpg"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: 75%; */

/*    background-image: url("../img/backgroundBreadv4.jpg");
    background-size: 100%;*/
}

#automaat {
    margin: 94px auto;

    
}


#sloganLP {
    display: block; 
    position: fixed; 
    bottom: 100px; 
    left: 10%; 
    right: 10%; 
    font-family: detourdork; 
    font-size: 3em; 

}

#slogan { 
    float: left; 
    font-family: detourdork; 
    font-size: 2em; 
    margin-top: calc(5em/2 - 1.55em); 
    margin-left: 0.5em; 
}


#bodemPijl {
    position: fixed; 
    bottom: 74px;
    left: calc(50% - 20px); 
    right: calc(50% - 20px);      
    border-bottom: 20px solid #7F9799; 
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    width: 0;
    height: 0;
}

footer {
    display: block; 
    position: fixed; 
    bottom: 0; 
    width: 100vw; 
    height: 74px; 
    background-color: #7F9799;
}

#orderButton {
    float: right;
    display: block; 
    height: 74px; 
    width: 45vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1em;
    border-left: 2px solid white; 
    text-decoration: none; 
    text-align: center;
    z-index: 50; 
}

#orderButton div {
    display: inline-block; 
    margin-top: calc(5em/2 - 1em);
}
#orderButton a {
    display: inline;
    
    
}


#infoButton {
    float: right;
    display: block; 
    height: 74px; 
    width: 45vw; 
    font-family: detourdork, sans-serif; 
    font-size: 1.5em;
    border-left: 2px solid white; 
    text-decoration: none; 
    text-align: center; 
}

#infoButton span {
    display: inline-block; 
    margin-top: calc(5em/2 - 1.25em); 
}

input:focus {background-color: #FAFFAD ;}

#login { 
    text-align: right;
}

#login input {
    width: 10em;
    text-align: center;
    padding: 0.2em 0.5em; 
}

#login input[type="submit"] {
    border-radius: 0.2em; 
    border: 1px outset #3B5450 ;
    background-color: #E30304;
    color: #FAFFAD;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nieuw {
    /*    border: 1px solid black;*/
    display: block;
    float: right; 
    width: 40vw;
    margin: 0 auto;
    color: #585858; 
}

#nieuw h1 {
    margin-top: 0;
    text-align: center; 
}

#nieuw input, #nieuw select {
    display: block;
    margin: 1em auto;
    width: 30em;
    text-align: center;
    padding: 0.5em;
    color: #585858;
}

#nieuw input[type="submit"] {
    border-radius: 0.2em; 
    border: 1px outset #533E29;
    background-color: #7F9799;
    width: 31em;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nieuw select option:first-child{opacity: 0.7; color: red;}

#vitrine {
    display: block;
    margin: 0 auto;

}

#loginmsg {
    color: #FAFFAD; 
    float: left;    
    font-family: sans-serif;
    font-size: 1em; 
}

#Regmsg {
    color: #E30304; 
    float: left;
    width: 40vw; 
    text-align: center;   
    font-family: sans-serif;
    font-size: 1em; 
}

table.mijnAccount:first-of-type {
 
}

.mijnAccount, .mijnAccount tr, .mijnAccount td {
    border-collapse: separate; 
    border: 1px solid black; 
}


.mijnAccount td {padding: 0.5em 2em;}
.mijnAccount tr td:first-child {width: 30vw;}
.mijnAccount tfoot td {text-align: right;}

.mijnAccount {
    margin: 2em auto; 
    width: 80vw; 
}

.mijnAccount form input, .mijnAccount form select {
    display: block;
    width: 100%;
    margin: 0.5em 0; 
}

.mijnAccount form input:last-of-type {
    float: right; 
    width: 40%;
}

.centerBox {
    width: 80vw;
    margin: 8em auto; 
    position: relative; 
    cursor: default; 
}
.boxRij {
    display: block; 
    width: 100%;
    border: 1px solid black; 
}
.product {
    display: inline-block; 
    width: 50%; 
}
.prijs, 
.hoeveelheid {
    display: inline-block; 
    width: 20%; 
}

.product, 
.prijs,
.hoeveelheid {
/*    border: 1px solid black;*/
    margin: 0; 
    padding: 0.5em 2em; 
}

#zeecontainer {
    margin:0; 
    position:relative;    
}

.kolom {
    position:relative; 
    float:left; 
    width:31%;   /* 31% = 3 kolommen */
    margin:5em 1%;  
    padding:0.5em; 
}

.achtergrond {
    position:absolute;
    width:100%;
    height:100%;

}

.achtergrond .kolom {
    height: 100%;
    background-color:#7F9799 ; 
}

.wis {
    clear: both;
}
}




/*********** desktop ***********//* xl (extra large)=@media screen and (min-width:1001px) */
@media screen and (min-width:1001px) {

    /**** responsive switches ***/
    .xs_on {display: none;}
    .sm_on {display: none;}
    .md_on {display: none;}
    .lg_on {display: none;}
    .xxl_on {display: none;}

    .xl_on {display: block;}
    /*****        end        ****/

    .kol-xl-1 {width: 8.33%;}
    .kol-xl-2 {width: 16.66%;}
    .kol-xl-3 {width: 25%;}
    .kol-xl-4 {width: 33.33%;}
    .kol-xl-5 {width: 41.66%;}
    .kol-xl-6 {width: 50%;}
    .kol-xl-7 {width: 58.33%;}
    .kol-xl-8 {width: 66.66%;}
    .kol-xl-9 {width: 75%;}
    .kol-xl-10 {width: 83.33%;}
    .kol-xl-11 {width: 91.66%;}
    .kol-xl-12 {width: 100%;}


}

/*********** breedbeeld ***********//* xxl (extra extra large)=@media screen and (min-width:1432px) */
@media screen and (min-width:1432px) {

    /**** responsive switches ***/
    .xs_on {display: none;}
    .sm_on {display: none;}
    .md_on {display: none;}
    .lg_on {display: none;}
    .xl_on {display: none;}

    .xxl_on {display: block;}
    /*****        end        ****/

    .kol-xxl-1 {width: 8.33%;}
    .kol-xxl-2 {width: 16.66%;}
    .kol-xxl-3 {width: 25%;}
    .kol-xxl-4 {width: 33.33%;}
    .kol-xxl-5 {width: 41.66%;}
    .kol-xxl-6 {width: 50%;}
    .kol-xxl-7 {width: 58.33%;}
    .kol-xxl-8 {width: 66.66%;}
    .kol-xxl-9 {width: 75%;}
    .kol-xxl-10 {width: 83.33%;}
    .kol-xxl-11 {width: 91.66%;}
    .kol-xxl-12 {width: 100%;}


}

.bestelbon {
    display: block;
    border: 1px solid black; 
    padding: 1em;
    background-color: white;
    margin: 0 auto; 
}

.bestelbon tfoot td {
    border: 1px solid black;
    border-collapse: separate;
}
.bestelbon table tfoot td {
    background-color: white;
}

/**@media print {}**/

/*****flex + clearfix*****/

/* clear */
.cf{clear:both;}
/*clearfix hack*/

.clearFix:before, .clearFix:after{
    content: " ";
    display: table;
}
.clearFix:after{
    clear:both;
}
/*enkel voor IE6/7 */
.clearFix{
    *zoom: 1;
}